<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="root_layout">

<head>
<title>List of clients</title>
</head>

<section class="content" layout:fragment="page-content">
	<div class="container-fluid">
		<div class="alert bg-purple" th:switch="${invoice.client.client_type}">
			<a th:href="@{/client/} + ${T(rs.sons.jwt.JwtHelper).createJWT(invoice.client.client_id)}" style="color: white;">
				<span class="font-bold" th:case="true" th:text="${invoice.client.client_company}">Legal entity</span>
				<span class="font-bold" th:case="false" th:text="${invoice.client.client_name} + ' ' + ${invoice.client.client_surname}">Natural person</span>
			</a>
			<span class="font-bold"> | Apply payment</span>
		</div>
		<div class="block-header">
			<h2>
				<span th:switch="${invoice.invoice_is_invoice}">
					<span class="font-bold" th:case="true" th:text="@{Invoice} + ' ' + ${document_number}" id="invoice_holder"></span>
					<span class="font-bold" th:case="false" th:text="@{Pre-Invoice} + ' ' + ${document_number}" id="invoice_holder"></span>
				</span>
				<small>List of document items</small>
			</h2>
		</div>
		<div class="row clearfix">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="card">
					<div class="body">
						<div class="table-responsive">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>No</th>
										<th>Name</th>
										<th>Unit price</th>
										<th>Amount</th>
										<th>Discount</th>
										<th>Vat</th>
										<th>Sum</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="item, iterator : ${invoice.invoiceItems}">
										<td th:text="${iterator.index+1} + '. '">ordinal number</td>
										<td th:text="${item.invoice_item_description}">service</td>
										<td th:text="${#numbers.formatDecimal(item.invoice_item_price,1,2,'COMMA')}">unit price</td>
										<td th:text="${#numbers.formatDecimal(item.invoice_item_amount,1,2,'COMMA')}" >amount</td>
										<td th:text="${#numbers.formatDecimal(item.invoice_item_discount,1,2,'COMMA')}">discount</td>
										<td th:text="${#numbers.formatDecimal(item.invoice_item_vat,1,2,'COMMA')}">vat</td>
										<td th:text="${#numbers.formatDecimal((item.invoice_item_price * item.invoice_item_amount) - (((item.invoice_item_price * item.invoice_item_amount) / 100) * item.invoice_item_discount), 1, 2, 'COMMA')} + ' din.'">sum</td>
									</tr>
									<tr style="border-top:3px solid black; border-bottom:2px solid black">
										<td colspan="6" style="background-color: #F2F2F2" class="font-bold">TOTAL:</td>
										<td class="font-bold bg-pink" th:text="${#numbers.formatDecimal(#aggregates.sum(invoice.invoiceItems.![(invoice_item_price * invoice_item_amount) - (((invoice_item_price * invoice_item_amount) / 100) * invoice_item_discount)]), 1, 2, 'COMMA')} + ' din.'">total</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row clearfix">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="card">
					<div class="body">
						<div class="row clearfix">
							<div class="col-xs-3">
								<h2 class="card-inside-title">Delivery date</h2>
								<div class="input-group date" id="delivery_date_datepicker_container" th:if="not ${invoice.invoice_is_invoice}">
									<div class="form-line">
										<input type="text" class="form-control" id="delivery_date" placeholder="Please choose a date..." readonly="readonly" name="prvi_datum">
									</div>
									<span class="input-group-addon"> <i	class="material-icons">date_range</i></span>
								</div>
								<button class="btn bg-teal btn-block waves-effect" type="button" th:if="${invoice.invoice_is_invoice}" disabled="disabled" th:text="${#dates.format(invoice.invoice_delivery_date, 'dd.MM.yyyy.')}"></button>
							</div>
							<div class="col-xs-3">
								<h2 class="card-inside-title">Payment date</h2>
								<div class="input-group date" id="payment_date_datepicker_container" th:if="not ${invoice.invoice_payed}">
									<div class="form-line">
										<input type="text" class="form-control" id="payment_date" placeholder="Please choose a date..." readonly="readonly" name="drugi_datum">
									</div>
									<span class="input-group-addon"> <i	class="material-icons">date_range</i></span>
								</div>
								<button class="btn bg-teal btn-block waves-effect" type="button" th:if="${invoice.invoice_payed}" disabled="disabled" th:text="${#dates.format(invoice.invoice_payment_date_for_print, 'dd.MM.yyyy.')}"></button>
							</div>
							<div class="col-xs-6">
								<h2 class="card-inside-title">Invoice option(s)</h2>
								<div th:if="not ${invoice.invoice_is_invoice}">
									<button class="btn bg-green waves-effect invoice_pay_yes" th:id="${T(rs.sons.jwt.JwtHelper).createJWT(invoice.invoice_id)}">Pay invoice</button>
									<button class="btn bg-orange waves-effect invoice_pay_no" th:id="${T(rs.sons.jwt.JwtHelper).createJWT(invoice.invoice_id)}">Create invoice without payment</button>
								</div>
								<div th:if="not ${invoice.invoice_payed} and ${invoice.invoice_is_invoice}">
									<button class="btn bg-green waves-effect invoice_pay_yes" th:id="${T(rs.sons.jwt.JwtHelper).createJWT(invoice.invoice_id)}" name="update">Pay invoice</button>
									<!-- <button class="btn bg-orange waves-effect" th:id="${T(rs.sons.jwt.JwtHelper).createJWT(invoice.invoice_id)}">Create invoice without payment</button> -->
								</div>
								
								<div th:if="${invoice.invoice_payed} and ${invoice.invoice_is_invoice}">
									<button class="btn bg-cyan waves-effect" type="button" disabled="disabled" th:text="@{Paid}"></button>
									<a class="btn bg-red waves-effect" th:href="@{/invoicepdf/} + ${T(rs.sons.jwt.JwtHelper).createJWT(invoice.invoice_id)}">Print</a>
									<a class="btn bg-green waves-effect send_invoice_pdf" th:id="@{/sendinvoice___} + ${T(rs.sons.jwt.JwtHelper).createJWT(invoice.invoice_id)}">Send to email</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>
</html>